{% extends "theme.html" %}


{% block extStyle %}
    <link href="static/css/blast.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/css/style10.css" />
    <!--stylesheets-->
    <link href="static/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merriweather:300,400,700,900" rel="stylesheet">
<style type="text/css" media="all">
  form 
  { text-align: center; }
  form { text-align: center !important; }
  form { float:none;display: inline-block; }
  form { margin-left:auto !important;margin-right:auto !important; }
</style>
{% endblock %}




{% block extJS %}
{% endblock %}


{% block body %}

<section class="formbg py-lg-4 py-md-3 py-sm-3 py-3">
	<div class="container py-lg-5 py-md-5 py-sm-4 py-3 col-md-8">
	<h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3" >Academic Recommender System</h3>
	<div class="row">
	<div class="col-md-7 contact-form" style="align-content: center;">
    <form action="/home" method="POST">
    	<div class="row text-center contact-wls-detail">
            <div class="col-md-12 form-group contact-forms">
            	 <select required name='topic'>
					<option disabled selected value>-- Select An Option --</option>
  					<option value="1">Computer Science</option>
  					<option value="2">Biology</option>
  					<option value="3">Physics</option>
  					<option value="4">Chemistry</option>
  					<option value="5">Mathematics</option>
  					<option value="6">Sociology</option>
  					<option value="7">Geology</option>
				</select> 
            </div>
        </div>
            <br>
        <div class="col-md-12 form-group contact-forms">
                <textarea class="form-control" name='title' rows="1" placeholder="Title" style="height: 4em;"required></textarea>
        </div>
        <div class="form-group col-md-12 contact-forms">
            <textarea class="form-control" rows="1" name='keywords' placeholder="Keywords" style="height: 4em; align-items: center;" required></textarea>
        </div>
        <div class="form-group col-md-12 contact-forms">
            <textarea class="form-control" rows="6" name='abstract' placeholder="Abstract" style="height: 15em;"required></textarea>
        </div>
        <div class="sent-butnn text-center col-md-offset-5">
            <button type="submit" class="btn btn-block " data-blast="bgColor">Find</button>
        </div>
	</form>
	</div>
	</div>
	</div>
</section>
{% endblock %}  